.main-content {    
    margin: 0 auto;
    min-height: calc(100vh - 175px);
}

.features {
    display: flex;
    flex-direction: column;
}

@media (min-width: 920px) {
    .features {
        flex-direction: row;
    }
}